/* TODO: make IE happy */ 
#layout-app {
    display: grid;

    grid-template-columns: 40% 40% 10% 10%;

    grid-template-rows: 60% 25% 5% 10%;

    height: 100%;
    width: 100%;
}
            
#xray_img_1 {
    grid-column: 1;

    grid-row: 1;

    margin: 20px 10px 10px 20px;
    border: 1px solid darkslategray;
}

#xray_img_2 {
    grid-column: 2;

    grid-row: 1;

    margin: 20px 10px 10px 10px;
    border: 1px solid darkslategray;
}

#xray_readout {
    grid-column: 3;

    grid-row: 1;

    margin: 20px 10px 10px 10px;
    border: 1px solid darkslategray;
}

#cam_readout {
    grid-column: 4;

    grid-row: 1;

    margin: 20px 20px 10px 10px;
    border: 1px solid darkslategray;
}

#warning_sign {
    grid-column: 1;

    grid-row: 2;

    margin: 0px 10px 0px 20px;
    border: 1px solid darkslategray;

    padding: 20px;
    display : flex;
    align-items : center;
}

#timeline {
    grid-column: 2 /5;

    grid-row: 2;

    margin: 0px 20px 0px 10px;
    border: 1px solid darkslategray;
}

#statusbar {
    grid-column: 1 /5;

    grid-row: 3;

    margin: 0px;
    border: 1px solid darkslategray;

    padding: 10px;
    display : flex;
    align-items : center;
}

#console {
    grid-column: 1 /5;

    grid-row: 4;

    margin: 0px;
    border: 1px solid darkslategray;
}

#button_xray {
    width: 49%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
}

#button_repos {
    width: 49%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
}